.example-list {
  min-height: 60px;
  display: inline-block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  cursor: text;
  font-size: 14px;
  width: auto;
  box-sizing: content-box;
  float: left;
  border: 1px solid black;
}

.input {
  height: 20px;
  width: 200px;
  margin-left: 500px;
}

.cross_button {
  margin-left: 30px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
}

.button {
  color: white;
  background-color: lightblue;

}

.cdk-drag-preview {
  /* box-sizing: border-box; */
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}