 <ul *ngIf="x != 1" fxLayout="column" fxLayoutAlign="space-evenly center" cdkDropList class="example-list"
   (cdkDropListDropped)="drop($event)">
   <li class="example-box" contenteditable="true" *ngFor="let movie of movies" cdkDrag (click)="removeItem()">
     {{movie}}
     <button class="cross_button" aria-label="Delete">&times;</button>
   </li>
 </ul>

 <input class="input " #newMovies (keyup.enter)="addMovies(newMovies.value)"
   (blur)="addMovies(newMovies.value - 1); newMovies.value='' ">

 <button class="button" mat-fab (click)="addMovies(newMovies.value)"> + </button>
